version: '3.8'  # Можно убрать, но оставим для совместимости

services:
  postgres:
    image: postgres:16-alpine
    container_name: fcstask-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fcstask
    ports:
      - "6432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: