global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'telegraf'
    static_configs:
      - targets: ['telegraf:9273']
        labels:
          service: 'fcstask'
          component: 'metrics-aggregator'